<nav class="avbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
	
    <div class="navbar-header right">
      <a class="navbar-brand" title="Users" href="#!/admin/users">
		<i class="fa fa-users fa-m pointer"></i>
	  </a>
      <a class="navbar-brand" title="Activity Audit" href="#!/admin/audit">
		<i class="fa fa-globe fa-m pointer"></i>
	  </a>
      <a class="navbar-brand" title="Security Audit" href="#!/admin/audit/security">
		<i class="fa fa-exclamation-triangle fa-m pointer"></i>
	  </a>
      <a class="navbar-brand" title="JSNLog Audit" href="#!/admin/audit/JSNLog">
		<i class="ion-social-angular fa-m pointer"></i>
	  </a>
      <a class="navbar-brand" title="Routes" href="#!/admin/routes">
		<span class="glyphicon glyphicon-road fa-m pointer" aria-hidden="true"></span>
	  </a>
      <a class="navbar-brand" title="Banned" href="#!/admin/banned">
		<i class="fa fa-ban fa-m pointer"></i>
	  </a>
    </div>
	
  </div>
</nav>
