<div class="row" oc-lazy-load="chart.deps">
  <div class="col-md-4">
    <span uib-dropdown>
      <a href id="simple-dropdown" uib-dropdown-toggle>Select property 1</a>
      <ul uib-dropdown-menu>
        <li ng-repeat="property in chart.hbar.dropdown">
          <a ng-if="property.substring(0,1)!='-'" href ng-click="chart.setData(null,property,null)">{{property | ucfirst}}</a>
          <div ng-if="property.substring(0,1)=='-'" class="divider"></div>
        </li>
      </ul>
    </span>
    <span uib-dropdown>
      <a href id="simple-dropdown" uib-dropdown-toggle>Select property 2</a>
      <ul uib-dropdown-menu>
        <li ng-repeat="property in chart.hbar.dropdown">
          <a ng-if="property.substring(0,1)!='-'" href ng-click="chart.setData(null,null,property)">{{property | ucfirst}}</a>
          <div ng-if="property.substring(0,1)=='-'" class="divider"></div>
        </li>
      </ul>
    </span>
    <nvd3 options="chart.hbar.options" data="chart.hbar.data"></nvd3>
  </div>
  <div class="col-md-4">
    <nvd3 options="chart.lineNode.options" data="chart.lineNode.data"></nvd3>
  </div>
  <div class="col-md-4">
    <nvd3 options="chart.lineSystem.options" data="chart.lineSystem.data"></nvd3>
  </div>
</div>
