<update-title title="{{meta.title}}"></update-title>
<update-meta property="og:title" content="{{meta.title}}" /></update-meta>
<update-meta name="description" content="{{meta.description}}"></update-meta>
<update-meta property="og:description" content="{{meta.description}}" /></update-meta>
<update-meta property="og:url" content="{{meta.url}}" /></update-meta>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>
	<div class="col-lg-4 text-center">
      <ng-include src="'views/core/c_apiMessage.html'"></ng-include>
	</div>
    <div class="col-lg-4"></div>
  </div>
</div>

